<h1>Create User</h1>

<form method="POST" action="/users/create">
    <label for="">Name</label>
    <input name="name" type="text">

    <label for="">Age</label>
    <input name="age" type="text">

    <label for="">Phone</label>
    <input name="phone" type="text">

    <button>Create</button>
</form>